<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정-->
<mapper namespace="kopo.poly.mapper.IUserInfoMapper">


    <!-- 회원 가입 전 아이디 중복체크 -->
    <select id="getUserIdExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            IF(COUNT(USER_ID) > 0, 'Y', 'N') AS EXISTS_YN
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

    <!-- 회원 가입 전 이메일 중복체크하기 -->
    <select id="getEmailExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            IF(COUNT(USER_ID) > 0, 'Y', 'N') AS EXISTS_YN
        FROM USER_INFO
        WHERE EMAIL = #{email}
    </select>

    <!-- 회뤈 가입하기(회원정보 등록하기) -->
    <insert id="insertUserInfo" parameterType="UserInfoDTO">
        INSERT INTO USER_INFO
        (USER_ID,
         USER_NAME,
         PASSWORD,
         )
    </insert>
</mapper>